.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition-ease);
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.question-mark {
    opacity:0.3;
}

.portfolio__item h3 {
    margin: 1.2rem 0 1rem;
}

.portfolio__item-cta {
    display: flex;
    gap: 1;
    margin-bottom: 1rem;
}

.btn-demo {
    margin-left: 1rem;
}

.btn-without-code {
    background-color: #cccccc !important;
    color: #666666 !important;
    border: 1px solid #999999 !important;
    pointer-events: none;
}

.portfolio__item h5 {
    text-align: justify;
    padding: 0 0 1rem 0;
}

.portfolio__item h5.desc {
    text-align: start;
    padding: 0 0 1rem 0;
}

.subtitle {
    padding: 1rem 0 1rem 0;
    text-align: center;
    color: var(--color-light);
}

/* ==== MEDIUM DEVICES ====*/
@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}


/* ==== SMALL DEVICES ====*/
@media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}